<%= form_for(@ranking) do |f|%>
    <%= params.inspect %>

    <h1>New <%= current_user.username.capitalize %> Ranking</h1>
    <hr>

    <!-- DOUBLE NESTED FORM  -->

    <!-- plural b/c rankings has_many selections -->
    <ol>
    <%= f.fields_for :selections do |selection_builder|%>
        <li>
            <%# selection_builder.label :player_id, "Select" %>
            <%= selection_builder.collection_select(:player_id, Player.all, :id, :name, include_blank: true)%>
        </li>

        <br>
        <!-- singular b/c player belongs_to a selection -->
        <%# selection_builder.fields_for :player do |player_builder|%>
            <%# player_builder.label :name, "Create Player: " %>
            <%# player_builder.text_field :name %>
        <%# end %> <!-- player_builder -->
    <% end %> <!-- selection_builder -->
    </ol>

    <br>
    <%= f.label :description, "Honorable Mentions" %><br>
    <%= f.text_area :description %>

    <br>
    <%= f.submit %>

<% end %>
